In [0]:
import pandas as pd
from pandas import np
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

In [0]:
dfmerge = pd.read_csv("/content/gdrive/My Drive/finalmerge.csv",index_col=0)

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [0]:
dfmerge.shape

(1815405, 50)

In [0]:

Y=dfmerge['ArrDelayMinutes']
Y

0           8.0
1           0.0
2           0.0
3           4.0
4           3.0
           ...
1815400     0.0
1815401    51.0
1815402     0.0
1815403     0.0
1815404     0.0
Name: ArrDelayMinutes, Length: 1815405, dtype: float64

In [0]:
X=dfmergenew.drop([
               "ArrDelayMinutes",
                "ArrTime",
                "ArrDel15",
                  "Unnamed: 0_x",
                  "Unnamed: 0_y",
                  "Unnamed: 0.1",
                "Origin",
                "Dest",
                "airport_x",
                "airport_y",
                "FlightDate",
                "date_y",
                "date_x",
                "time_x",
                "time_y",
                "windspeedKmph_y",
                "winddirDegree_y",
                "weatherCode_y",
                "precipMM_y",
                "visibility_y",
                "pressure_y",
                "cloudcover_y",
                "DewPointF_y",
                "WindGustKmph_y",
                "tempF_y",
               "WindChillF_y",
               "humidity_y",
               ],axis=1)
X

     Quarter  Year  Month  ...  tempF_x  WindChillF_x  humidity_x
0.0        1  2016      1  ...       41            32          74
0.0        1  2016      1  ...       41            32          74
0.0        1  2016      1  ...       41            32          74
0.0        1  2016      1  ...       41            32          74
0.0        1  2016      1  ...       41            32          74
..       ...   ...    ...  ...      ...           ...         ...
0.0        1  2016      1  ...       41            32          74
1.0        1  2016      1  ...       51            47          46
0.0        1  2016      1  ...       41            32          74
0.0        1  2016      1  ...       41            32          74
0.0        1  2016      1  ...       41            32          74

[1815405 rows x 23 columns]

In [0]:
#
Y.transpose()

0           8.0
1           0.0
2           0.0
3           4.0
4           3.0
           ...
1815400     0.0
1815401    51.0
1815402     0.0
1815403     0.0
1815404     0.0
Name: ArrDelayMinutes, Length: 1815405, dtype: float64

In [0]:
from sklearn.model_selection import train_test_split  
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.20)

In [0]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(1452324, 23)
(1452324,)
(363081, 23)
(363081,)

In [0]:
#linearregression
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(X,Y)

Y_predlinear=reg.predict(X_test)

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score

print("RMSE :" , np.sqrt(mean_squared_error(Y_test, Y_predlinear)))
print("MAE : " , mean_absolute_error(Y_test, Y_predlinear))
print("R2   :" , r2_score(Y_test,Y_predlinear))

RMSE : 32.97021031930165
MAE :  10.731019608755089
R2   : 0.36437636245028016

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  if sys.path[0] == '':

In [0]:
#ect
from sklearn.ensemble import ExtraTreesRegressor
etr=ExtraTreesRegressor(n_jobs=-1,random_state =None)
etr.fit(X,Y)

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=-1, oob_score=False,
                    random_state=None, verbose=0, warm_start=False)

In [0]:
Y_predetr= etr.predict(X_test)
print("RMSE :" , np.sqrt(mean_squared_error(Y_test, Y_predetr)))
print("MAE : " , mean_absolute_error(Y_test, Y_predetr))
print("R2   :" , r2_score(Y_test,Y_predetr))

RMSE : 32.90457051600048
MAE :  10.829167438907342
R2   : 0.3675468251235675

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

In [0]:
#xgb
import xgboost as xgb
xgbmodel = xgb.XGBRegressor()
xgbmodel.fit(X,Y)
Y_predxgbr = xgbmodel.predict(X_test)
print("RMSE :" , np.sqrt(mean_squared_error(Y_test, Y_predxgbr)))
print("MAE : " , mean_absolute_error(Y_test, Y_predxgbr))
print("R2   :" , r2_score(Y_test,Y_predxgbr))

[13:16:03] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE : 32.904571381534346
MAE :  10.829026839968344
R2   : 0.3675467918510076

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

In [0]:
X_train.shape

(303492, 23)

In [0]:
X_test.shape

(75874, 23)